version: "3.9"

services:
  mongo:
    image: mongo:7.0
    container_name: blockchain-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  blockchain-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blockchain-app
    depends_on:
      - mongo
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      SPRING_DATA_MONGODB_URI: mongodb://root:example@mongo:27017/blockchain_db?authSource=admin

volumes:
  mongo_data:
